body {
  max-width: 1500px;
  margin: 2.5em auto;
  align-content: center;
  background-color: whitesmoke;
  font-family: Noto Sans;
}

#title {
  text-align: center;
}
.nav-list {
  list-style-type: none;
  margin: 1rem;
  margin-left: 0;
}

.nav-item {
  margin: 10px 0;
  text-transform: uppercase;
  background-color: white;
}

.nav-link {
  padding: 10px 15px;
  text-align: center;
  display: block;
  text-decoration: none;
  color: black;
}

.header {
  margin: 1rem;
}

.header img {
  width: 100%;
}

.header p {
  font-size: large;
  text-align: center;
}

/* Portfolio Styles */
.portfolio {
  margin: 1rem;
  background-color: white;
  padding-top: 15px;
}

.portfolio h2 {
  text-align: center;
}

.portfolio-image {
  width: 100%;
  margin-bottom: 10px;
}

/* Default Display Phone Size */

.portfolio-list {
  margin: 0 auto;
  list-style-type: none;
  padding-top: 1.25em;
}

.portfolio-item {
  background-color: #fff;
  border-radius: 0.2em;
  margin: 1rem 0;
  display: block;
  text-align: center;
}

/* Media Query Tablet Size */

@media (min-width: 769px) {
  .portfolio-list {
    margin: 0 auto;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .portfolio-item {
    flex-basis: 47.5%;
  }

  .header {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
  }

  .header p {
    margin: 0 15px;
    text-align: left;
  }

  .nav-list {
    list-style-type: none;
    margin: 1rem;
    width: 100%;
    display: inline-flex;
    justify-content: center;
  }

  .nav-item {
    margin: 10px 0;
    text-transform: uppercase;
    background-color: whitesmoke;
  }

  .nav-link {
    padding: 10px 15px;
    text-decoration: none;
    color: black;
  }
}

/* Media Query Desktop Size  */

@media (min-width: 1024px) {
  .portfolio-list {
    margin: 0 auto;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
  }

  .portfolio-item {
    flex-basis: 30%;
  }

  nav {
    display: flex;
  }

  #title {
    width: 40%;
    display: inline-flex;
  }
  .nav-list {
    list-style-type: none;
    margin: 1rem;
    width: 40%;
    float: right;
  }

  .nav-item {
    margin: 10px 0;
    text-transform: uppercase;
    background-color: whitesmoke;
    display: inline;
  }

  .nav-link {
    padding: 10px 15px;
    text-decoration: none;
    color: black;
  }
}
