* {
  box-sizing: border-box;
}

body {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0;
  align-content: center;
  background-color: whitesmoke;
  font-family: Noto Sans;
}

#title {
  text-align: center;
  margin-left: 1rem;
}
.nav-list {
  list-style-type: none;
  margin: 0;
}

.nav-item {
  margin: 10px 0;
  text-transform: uppercase;
  background-color: white;
}

.nav-link {
  padding: 10px 15px;
  text-align: center;
  display: block;
  text-decoration: none;
  color: black;
}

.header {
  margin: 1rem;
}

.header img {
  width: 100%;
}

.header p {
  font-size: large;
  text-align: center;
}

#contact {
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  max-width: 500px;
}

footer {
  display: flex;
  justify-content: space-between;
}

.bottom-nav-list {
  list-style-type: none;
  margin: 0;
  display: inline-flex;
  justify-content: space-between;
  padding: 0;
}

.bottom-nav-item {
  margin: 10px 0;
  text-transform: uppercase;
  background-color: transparent;
}

.bottom-nav-link {
  padding: 10px 15px;
  color: black;
  text-decoration: none;
}

#bottom-title {
  width: 40%;
  display: inline-flex;
  margin-left: 1rem;
}

hr {
  margin: 1rem;
}

/* Portfolio Styles */
.portfolio {
  margin: 1rem;
  background-color: white;
  padding: 15px 15px 20px 15px;
}

.portfolio h2 {
  text-align: center;
}

.portfolio-image {
  width: 100%;
  margin-bottom: 10px;
}

/* Default Display Phone Size */

.portfolio-list {
  margin: 0 auto;
  list-style-type: none;
  padding-top: 1.25em;
}

.portfolio-item {
  background-color: #fff;
  border-radius: 0.2em;
  margin: 1rem 0;
  display: block;
  text-align: center;
}

.full {
  display: none;
}

/* Media Query Tablet Size */

@media (min-width: 768px) {
  .portfolio-list {
    margin: 0 auto;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .portfolio-item {
    flex-basis: 47.5%;
  }

  .header {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
  }

  .header p {
    margin: 0 15px;
    text-align: left;
  }

  .nav-list {
    list-style-type: none;
    width: 100%;
    display: inline-flex;
    justify-content: center;
  }

  .nav-item {
    margin: 10px 0;
    text-transform: uppercase;
    background-color: whitesmoke;
  }

  .nav-link {
    padding: 10px 15px;
    text-decoration: none;
    color: black;
  }

  .full {
    display: inline-block;
  }

  .bottom-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .bottom-nav-list {
    list-style-type: none;
    width: 30%;
    display: inline-flex;
    justify-content: flex-end;
    color: darkblue;
  }

  .bottom-nav-item {
    display: inline-flex;
    margin: 10px 0;
    text-transform: uppercase;
    background-color: whitesmoke;
  }

  .bottom-nav-link {
    padding: 10px 15px;
    text-decoration: none;
    color: black;
  }

  #top {
    display: none;
  }

  /* Media Query Desktop Size  */

  @media (min-width: 1024px) {
    .portfolio-list {
      margin: 0 auto;
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
    }

    .portfolio-item {
      flex-basis: 30%;
    }

    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    #title {
      width: 40%;
      justify-content: flex-start;
      text-align: left;
    }
    .nav-list {
      list-style-type: none;
      width: 30%;
      justify-content: flex-end;
    }

    .nav-item {
      margin: 10px 0;
      text-transform: uppercase;
      background-color: whitesmoke;
    }

    .nav-link {
      padding: 10px 15px;
      text-decoration: none;
      color: black;
    }

    .bottom-nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .bottom-nav-list {
      list-style-type: none;
      width: 30%;
      justify-content: flex-end;
    }

    .bottom-nav-item {
      margin: 10px 0;
      text-transform: uppercase;
      background-color: whitesmoke;
    }

    .bottom-nav-link {
      padding: 10px 15px;
      text-decoration: none;
      color: black;
    }
  }
}
